<aside class="sidebar">
  <h5>Basemaps</h5>
  <nav>
    <a href="{{assets}}examples/showing-a-basemap.html">Showing an ArcGIS Basemap</a>
    <a href="{{assets}}examples/basemap-with-labels.html">Basemap with Labels</a>
    <a href="{{assets}}examples/switching-basemaps.html">Switching Basemaps</a>
    <a href="{{assets}}examples/retina-basemap.html">Retina Basemap</a>
    <a href="{{assets}}examples/vector-basemap.html">Vector Basemaps</a>
  </nav>

  <h5>Feature Layers</h5>
  <nav>
    <a href="{{assets}}examples/simple-feature-layer.html">Simple FeatureLayer</a>
    <a href="{{assets}}examples/styling-feature-layer-points.html">Styling Points</a>
    <a href="{{assets}}examples/styling-feature-layer-polylines.html">Styling Lines</a>
    <a href="{{assets}}examples/styling-feature-layer-polygons.html">Styling Polygons</a>
    <a href="{{assets}}examples/feature-layer-popups.html">Custom Popups</a>
    <a href="{{assets}}examples/querying-feature-layers-1.html">Querying Features #1</a>
    <a href="{{assets}}examples/querying-feature-layers-2.html">Querying Features #2</a>
    <a href="{{assets}}examples/spatial-queries.html">Spatial Queries</a>
    <a href="{{assets}}examples/simplifying-complex-features.html">Simplifying Complex Features</a>
    <a href="{{assets}}examples/zooming-to-all-features-1.html">Zoom to all Features #1</a>
    <a href="{{assets}}examples/zooming-to-all-features-2.html">Zoom to all Features #2</a>
    <a href="{{assets}}examples/labeling-features.html">Labeling Features</a>
    <a href="{{assets}}examples/layer-ordering.html">Ordering Layers</a>


    <!--<a href="{{assets}}examples/editing.html">Editing</a>-->
  </nav>

  <h5>Feature Layer Plugins</h5>
  <nav>
    <a href="{{assets}}examples/visualize-points-as-a-heatmap.html">Points as a Heatmap</a>
    <a href="{{assets}}examples/styling-heatmaps.html">Styling a heatmap</a>
    <a href="{{assets}}examples/visualizing-time-with-feature-layer.html">Time Enabled Services</a>
    <a href="{{assets}}examples/clustering-feature-layers.html">Clustering Points</a>
    <a href="{{assets}}examples/styling-clusters.html">Styling Clusters</a>
  </nav>

  <h5>Tile Layers</h5>
  <nav>
    <a href="{{assets}}examples/tile-layer-1.html">Tiles from a Map Service #1</a>
    <a href="{{assets}}examples/tile-layer-2.html">Tiles from a Map Service #2</a>
  </nav>

  <h5>Dynamic Map Layer</h5>
  <nav>
    <a href="{{assets}}examples/simple-dynamic-map-layer.html">Simple Dynamic Map Layer</a>
    <a href="{{assets}}examples/identifying-features.html">Identifying Features</a>
    <a href="{{assets}}examples/customizing-popups.html">Custom Popups</a>
    <a href="{{assets}}examples/visualizing-time-on-dynamic-map-layer.html">Time Ranges</a>
  </nav>

  <h5>Image Map Layer</h5>
  <nav>
    <a href="{{assets}}examples/simple-image-map-layer.html">Simple Image Map Layer</a>
    <a href="{{assets}}examples/image-map-layer-rendering-rule.html">Rendering Rule</a>
    <a href="{{assets}}examples/identifying-imagery.html">Identify Imagery</a>
    <a href="{{assets}}examples/image-map-layer-mosaic-rule.html">Mosaic Rule</a>
    <a href="{{assets}}examples/imagery-popups.html">Custom Popups</a>
    <a href="{{assets}}examples/visualizing-time-on-image-layer.html">Time Ranges</a>
  </nav>

  <h5>Non-Mercator Projections</h5>
  <nav>
    <a href="{{assets}}examples/non-mercator-projection.html">Tiles + Feature Layer</a>
    <a href="{{assets}}examples/non-mercator-projection-2.html">Tiles + Dynamic Map Layer</a>
  </nav>

  <h5>Query</h5>
  <nav>
    <a href="{{assets}}examples/feature-layer-snapshot.html">Layer "Snapshot"</a>
    <a href="{{assets}}examples/query-no-map.html">Query without a Map</a>
  </nav>

  <h5>Authentication</h5>
  <nav>
    <a href="{{assets}}examples/arcgis-online-auth.html">ArcGIS Online OAuth</a>
    <a href="{{assets}}examples/premium-content.html">Premium ArcGIS Online Content</a>
    <a href="{{assets}}examples/arcgis-server-auth.html">ArcGIS Server username/password</a>
  </nav>

  <h5>Geocoding</h5>
  <nav>
    <a href="{{assets}}examples/geocoding-control.html">Geocoding Control</a>
    <a href="{{assets}}examples/search-map-service.html">Searching Map Services</a>
    <a href="{{assets}}examples/search-feature-layer.html">Searching Feature Layers</a>
    <a href="{{assets}}examples/center-map-on-address.html">Center the Initial Map State</a>
    <a href="{{assets}}examples/reverse-geocoding.html">Reverse Geocoding</a>
  </nav>

  <h5>Other Plugins</h5>
  <nav>
    <a href="{{assets}}examples/renderers-plugin.html">Server Side Rendering</a>
    <a href="{{assets}}examples/stream-plugin.html">Stream Layer</a>
    <a href="{{assets}}examples/webmap.html?id=22c504d229f14c789c5b49ebff38b941">Loading Webmaps</a>
    <a href="{{assets}}examples/gp-plugin.html">Geoprocessing</a>
  </nav>

  <h5>Misc.</h5>
  <nav>
    <a href="{{assets}}examples/getting-service-metadata.html">Getting Service Metadata</a>
    <a href="{{assets}}examples/parse-feature-collection.html">Parsing Feature Collections</a>
  </nav>

</aside>
